body{
    margin: 0px;
    background-color: rgb(254, 249, 243);
}
.navBar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top:0;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 20px 1px grey;
}
.upload{
    text-decoration: none;
    color: black;
    font-size: larger;
    top:20px;
}
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(44,108,128);
    position: absolute;
    bottom: -85vh;
    right: 2vw;
    }
.circle::before {
      content: "+";
      height:60px;
      width:60px;
      font-size:20px;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      font-weight:bold;
      font-family:courier;
      color:white;
    }
.searchInp {
    margin: 10px;
    height: 4vh;
    width: 30vh;
    font-size: 2vh;
}

.searchButton {
    height: 5vh;
    width: 8vw;
    font-size: 2vh;
}
.rightOptions {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.leftOptions {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    align-items: center;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.signing {
display: flex;
align-items: center;
justify-content: center;
background-color: beige;
height: 100vh;
flex-direction: column;
}

.signButton {
    background-color: whitesmoke;
    margin: 20px;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border-radius: 18px;
}

.signingInp {
    background-color: antiquewhite;
    margin: 20px;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border-radius: 18px;
}
.vidList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.vidCard {
    margin: 20px;
    width: 300px;
    height: 250px;
}
.pagecontent{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.bottomInfo{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
    background-color: beige;
    height: 50px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
    align-items: center;
    width: 250px;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liked{
    background-color: pink;
}
.notliked{
    background-color: aqua;
    border-radius: 4px;
}
