body{
    margin: 0px;
    background-color: rgb(254, 249, 243);
}
.navBar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top:0;
    height: 8vh;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    box-shadow: 0px 0px 20px 1px rgb(211, 211, 211);
}
.upload{
    text-decoration: none;
    color: black;
    font-size: larger;
    top:20px;
}
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(44,108,128);
    position: absolute;
    bottom: -85vh;
    right: 2vw;
    }
.circle::before {
      content: "+";
      height:60px;
      width:60px;
      font-size:20px;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      font-weight:bold;
      font-family:courier;
      color:white;
    } 
.searchInp {
    text-align: bottom;
    margin: 10px;
    height: 4vh;
    width: fit-content;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .searchInp:focus{
    border: 3px solid rosybrown; */
/* } */

.searchButton {
    height: 5vh;
    font-size: 2vh;
    display: flex;
    width: 5vw;
    justify-content: center;
    align-items: center;
}
.spaced{
    display: flex;
    align-items: center;
}
.rightOptions {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-family: Tahoma, Geneva, Verdana, sans-serif;

}
.leftOptions {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.profile{
    border-radius: 50%;
}
.center{
    display: flex;
    align-items: center;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.signing {
display: flex;
align-items: center;
justify-content: center;
background-color: beige;
height: 100vh;
flex-direction: column;
}

.signButton {
    background-color: whitesmoke;
    margin: 20px;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border-radius: 18px;
}

.signingInp {
    background-color: antiquewhite;
    margin: 20px;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border-radius: 18px;
}
.vidList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.vidCard {
    margin: 2vw;
    width: 21vw;
    height: 250px;
}
.thumb{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.pagecontent{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.bottomInfo{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-decoration: None;
    color: black;
    background-color: rgb(218, 220, 246);
    height: 50px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
    align-items: center;
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liked{
    background-color: pink;
}
.saved{
    background-color: rgb(93, 113, 215);
    border-radius: 4px;
}
